<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.rk.jam">
		<application>
				<activity android:name="com.rk.jam.jam1" android:label="jam1">
						<intent-filter>
								<action android:name="android.intent.action.MAIN" />
								<category android:name="android.intent.category.LAUNCHER" />
						</intent-filter>
				</activity>
		</application>
</manifest>